pmtu-pokedex.com {
  encode zstd gzip

  @api path /api/*
  handle_path @api {
    reverse_proxy api:8080
  }

  root * /srv/site
  file_server

  header {
    Content-Security-Policy "default-src 'self'; base-uri 'none'; frame-ancestors 'none'; object-src 'none'; img-src 'self' data:; script-src 'self'; style-src 'self'"
    Referrer-Policy "no-referrer"
    X-Content-Type-Options "nosniff"
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Permissions-Policy "interest-cohort=()"
  }
}