# /etc/systemd/system/

[Unit]
Description=Cloudflare Dynamic DNS Updater for PMTU Pokedex
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/allen/GlobalPMTUPokedex/helpers/dns/cf_ddns_update.py
WorkingDirectory=/home/allen/GlobalPMTUPokedex/helpers/dns
Environment="CF_DDNS_CONFIG=/home/allen/GlobalPMTUPokedex/configs/cf_ddns_config.json"

# Restart on failure
Restart=on-failure
RestartSec=10

# Nice readable logs
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
